.nav-link{
    color: white ;
}
.navbar, .main-color-bg {
    background-color: #00ad81 !important;
}
.navbar-nav{
    min-height: 22px !important;
    margin-bottom:0;
    border-radius:0;
}

/* HEADER STARTS*/

#header{
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.create{
    padding-top: 7px;
}

.card-header{
    background-color: #00ad81;
    color: white;
}
/* HEADER END */

.btn-success {
    background-color: #00ad81;
}

.card-header-completed {
    background-color: #1b1e21;
}

/*Card*/

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #00ad81;
    border-color: #00ad81;
}

.btn-primary:active:focus {
    color: #ffffff;
    background-color: #108d6f;
    border-color: #108d6f;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #00ad81;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #00ad81 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #00ad81 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.studentIcon{
    font-size: 48px;
}

.dashCard{
    border-radius: 0.5rem;
    margin-top: 3%;
    margin-bottom: 3%;
    -webkit-box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 56px -10px rgba(0,0,0,1);
}

.dashCardMini{
    -webkit-box-shadow: 7px 10px 15px -6px rgba(130,130,130,0.74);
    -moz-box-shadow: 7px 10px 15px -6px rgba(130,130,130,0.74);
    box-shadow: 7px 10px 15px -6px rgba(130,130,130,0.74);
}

.page-item.active .page-link,  .badge-success, .nav-link.active{
    background-color: #00ad81 !important;
}
.styledNavLink{
    color: #1b1e21;
}

.postIcon {
    font-size: 2.5rem;
}
.diaryIcon {
    font-size: 1.5rem;
}


/*Profile*/
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    margin-top: 15px;
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #00ad81;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #00ad81;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #00ad81;
}

.profile-img{

}
